extends layout

block content
  h1= title
  
  if error
    div#error= error
  else
    div#unitswrap
      if data.length == 0
        span No units found
      else
        -for (var i = 0; i < data.length; ++i) {
          a(href=baseurl + data[i].unit)= data[i].unit
            span= (data[i].average) + ' ms'
        - }