body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

#timingswrap a { display:block;font-size:16px;color:#213A71;width:350px; }
#timingswrap a span { float:right; text-decoration:none; font-weight:bold;}
#timingswrap a:hover { color:#617AB1; }
#timingswrap h2 { cursor:pointer; }

.unitswrap { }
.units { }

.timing-header,.timing { overflow:hidden; }
.timing-header { font-weight:bold; }
.timing-header div,.timing div { float:left; }
div.timing-app { width:50px; }
div.timing-name { width:180px; }
div.timing-key { width:105px; }
div.timing-duration { width:100px;font-weight: bold;color:#5A5 }
.timing-header div.timing-duration { color:#000; }
div.timing-starttime { width:150px; }
div.timing-endtime { width:150px; }
.clearer { clear:both; }

#error {color:#D55; }